* {
	margin: 0;
	padding: 0;
	font-family: Arial, "Arial Black", "微软雅黑", "宋体";
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

table {
	border-collapse: collapse;
}

table.cont {
	font-size: 13px;
	letter-spacing: 1px;
	border: 1px solid #E1E5EE;
}

table.tr_color tr.d:hover {
	background-color: #E4F0DF;
}

table.cont tr td {
	height: 20px;
	padding: 5px 0;
	border-bottom: 1px solid #E1E5EE;
}

table.cont tr th {
	height: 20px;
	padding: 5px 0;
	border-bottom: 1px solid #E1E5EE;
	background-color: #E7F1FE;
}

table.cont input.text {
	height: 20px;
	width: 150px;
}

table.cont select option {
	height: 20px;
	width: 120px;
}

table.cont .btn {
	width: 50px;
}

body {
	font-size: 12px;
	color: #000;
	background-color: #EEF2FB;
}

#container {
	width: 182px;
}

h1 {
	font-size: 15px;
	width: 182px;
	cursor: pointer;
	height: 30px;
	line-height: 20px;
}

h1 a {
	display: block;
	width: 182px;
	height: 30px;
	moz-outline-style: none;
	background: url(../Images/menu_bgs.gif) no-repeat;
	line-height: 30px;
	text-align: center;
}

.content {
	width: 182px;
	height: 26px;
}

.RM ul {
	list-style-type: none;
	display: block;
}

.RM li {
	line-height: 26px;
	color: #333333;
	height: 26px;
	width: 182px;
}

.RM {
	width: 182px;
	left: 0px;
	top: 0px;
	clip: rect(0px, 0px, 0px, 0px);
}

.RM a:link, .RM a:visited {
	line-height: 26px;
	color: #333333;
	background: url(../Images/menu_bg1.gif) no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	overflow: hidden;
}

.RM a:hover {
	font-weight: bold;
	color: #05A2CB;
	background: url(../Images/menu_bg2.gif) no-repeat;
}

.title1 {
	margin: 0 5px;
	width: 85px;
	line-height: 26px;
	font-weight: bold;
	background: url(../Images/top_bt.jpg) no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
	float: left;
}

.left_bt {
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}

.left_txt {
	line-height: 25px;
	color: #666666;
}

#news ul {
	margin-left: 20px;
}

#news ul li {
	height: 25px;
	line-height: 25px;
	font-size: 15px;
}

#left_cont {
	width: 50%;
	background: url(../Images/login_content_bg.gif) no-repeat scroll right
		center;
}

#left_cont ul {
	float: right;
	margin-top: 10px;
	text-align: left;
	font-size: 1.2em;
}

#left_cont ul li {
	height: 30px;
}

#right_cont #form tr {
	width: 200px;
	height: 40px;
	font-size: 15px;
}

#right_cont input {
	height: 22px;
	border: 1px solid #CCCCCC;
}

#right_cont .bt input {
	height: 25px;
	width: 50px;
	text-align: center;
	padding-bottom: 2px;
}

#login_bot {
	height: 50px;
	color: #B9E8F5;
	font-size: 15px;
	text-align: center;
	background-color: #1D3647;
}

textarea {
	width: 200px;
	height: 60px;
	resize: none;
}

/* 表格 */
table.defaultlist {
	/*border: 1px solid #0283c5;*/
	border-collapse: collapse;  
	margin-top: 10px;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
}

table.anno {
	border-collapse: collapse;
	margin-top: 10px;
	margin: 0;
	padding: 0;
	border: 0;
	width: 1024px;
	height: 300px;
}

table.anno td.content {
	padding-top: 5px;
	height: 20%;
	text-align: left;
	text-indent: 2em font-family: 黑体;
	font-size: 14px;
	word-wrap: break-word;
	word-break: break-all;
}

table.anno td.title {
	padding-top: 5px;
	height: 20%;
	text-align: center;
	font-family: 宋体;
	font-size: 30px;
	font-weight: bold;
	word-wrap: break-word;
	word-break: break-all;
}

table.anno td.time {
	padding-top: 5px;
	height: 20%;
	text-align: right;
	font-family: 宋体;
	font-size: 14px;
	font-weight: bold;
	word-wrap: break-word;
	word-break: break-all;
}

table.anno textarea.content {
	height: 95%;
	width: 90%;
}

table.anno input.title {
	height: 95%;
	width: 90%;
}

table.anno input.time {
	height: 95%;
	width: 90%;
}

table.anno input.person {
	height: 95%;
	width: 90%;
}

table.anno td.font {
	text-align: right;
}

table.anno td.contentarea {
	height: 60%;
}

table.defaultlist td, table.defaultlist tr.style1 td {
	padding: 2 5 2 5;
	height: 26px;
	border: 1px solid #ffffff;
}



table.defaultlist tr, table.defaultlist tr.style1 {
	background-color: #f0f0f0;
}

table.defaultlist tr.style0 {
	background-color: #dfdfdf;
}

table.defaultlist tr.title td, table.defaultlist tr.ltitle td {
	font-weight: bold;
	background: #0283c5;
	color: #ffffff;
	border: 1px solid #ffffff;
	white-space: nowrap;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}

table.defaultlist tr.ltitle td {
	text-align: center;
}



table.defaultlist tr.title td {
	text-align: center;
	line-height: 26px;
	vertical-align: middle;
}

table.defaultlist tr.tablecon td {
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-weight: normal;
	
}



table.defaultlist tr.subtitle td, table.defaultlist tr.lsubtitle td {
	font-weight: bold;
	background: #69f;
	color: #ffffff;
	border: 1px solid #ffffff;
	white-space: nowrap;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}

table.defaultlist tr.lsubtitle td {
	text-align: left;
}

table.defaultlist tr.subtitle td {
	text-align: center;
}

table.defaultlist tr.strong td {
	font-weight: bold;
	background: #DDD;
}

table.defaultlist tr.stronghl td {
	font-weight: bold;
	background: #FFCC99;
	text-align: center;
}

table.defaultlist tr.hl td {
	background: #ffffcc /*#FFFF99*/;
}

table.defaultlist td.item {
	font-weight: bold;
	color: #333333;
	text-align: right;
}

table.defaultlist td.text {
	line-height: 150%;
}

table.defaultlist td.opt {
	background: #FFFF99;
	padding-right: 10px;
}

table.explain {
	margin-top: 5px;
	margin-bottom: 5px;
}

table.explain td {
	font-family: 宋体;
	font-size: 12px;
	border: 1px solid #333333;
	background: #f0f0f0;
	padding: 8px;
	line-height: 120%;
}

table.pages {
	border: 0;
}

table.pages td {
	height: 26px;
}

table.reswb {
	border: 1px solid #0283c5;
	border-collapse: collapse;
	margin-top: 10px;
}

table.reswb tr.title td {
	padding: 2 5 2 5;
	font-weight: bold;
	background: #0283c5;
	color: #ffffff;
	border: 1px solid #ffffff;
	white-space: nowrap;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}

table.defaultlist tr.list {
	text-align: center;
	line-height: 26px;
	vertical-align: middle;
}

#TableTail {
	border-top: 2px solid #a4cdec;
	border-bottom: 2px solid #a4cdec;
	width: 100%;
	height: 30px;
	float: left;
}

#TableTail_inside {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 100%;
	height: 25px;
	float: left;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#a4cdec,
		endcolorstr=#ffffff, gradientType=0);
	padding-left: 5px;
	padding-top: 3px;
}

#annotd {
	text-align: center;
}

/***********************************************************************/
